
.product {
    padding:0;
    .cover {
        width: 100%;
        height: 0;
        padding-bottom: 68%;
        overflow: hidden;
        img {
            width: 100%;
        }

    }
    .desc{
        padding: 10px 5%;
        line-height:30px;
        .price{
            height:30px;line-height:30px;
            .now_price{color:#000;font-size:24px;font-weight:400;font-style:normal;}
            .o_price{text-decoration:line-through;margin-left:5px;font-size:15px;color:#5c5c5c;}
        }
    }


    .pics {
        width: 100%;
        margin-top:10px;
        line-height: 0;
        img{width:100%}
    }
}


.cart{
    position:fixed;
    right:5px;
    bottom: 25px;
    .num{
        position: absolute;
        right:-2px;
        top:-2px;
        background: red;
        width:15px;
        height:15px;
        border-radius: 7px;
        font-size: 8px;
        color:white;
        text-align: center;
        vertical-align: middle;
        line-height: 14px;
    }
}
